@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
* {
	font-family: 'Orbitron', sans-serif !important;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  #wrapper, .main, .right {
    width:100%;
  }
}

body { 
	background-image: url(Images/background-image.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	color: black;
}

h1 { 
	border-radius: 25px;
 	text-align: center;
}

dt { font-weight: bold;
}

#top-nav a:hover {
    color: #F28C28;
}

#wrapper { 
	background: #FFFFFF;
   	border-radius: 25px;
   	max-width: 1080px;
   	margin-left: auto ;
   	margin-right: auto;
   	width: 80% ; 
   	text-align: center;
   	padding: 1em;
	font-family: 'Orbitron', sans-serif;
} 

#nav-tab a {
    text-decoration: none;
}
#nav-tab a:link {
    color: black;
}

#nav-tab a:visited {
    color: black;
}
#nav-tab a:hover {
    color: #F28C28;
    background-color: #F2F2F4;	
}	
.tab-content { padding : 5px 15px; }
.tab-pane { text-align: left; }
.tab-pane ul {
	list-style-type: disc;
	background: white;
}
